<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Multiplier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Multiplier.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value>Manik</value>
            </setting>
            <setting name="Passpharase" serializeAs="String">
                <value>a02fosbimtft</value>
            </setting>
            <setting name="Key" serializeAs="String">
                <value>2a094a11336ae1a5fa248101e0ce60bb</value>
            </setting>
            <setting name="Secret" serializeAs="String">
                <value>NXmcu07qBfmAq45L2l/Cm1jOXWHfozaMw3s9xYHKjGjmIHtbypyc2TqF62SK61NJcuAr1whiOjvDrRupEHnl5w==</value>
            </setting>
            <setting name="UseUISmaValues" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CommonLargeInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ComonMediumInterval" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CommonSmallInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CommonLargeSlices" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="CommonMediumSlices" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="CommonSmallSlices" serializeAs="String">
                <value>28</value>
            </setting>
        </Multiplier.Properties.Settings>
    </userSettings>
</configuration>